<html>
  <head>
    <title>Waterfall Model</title>
    
    <link rel='stylesheet' href='/stylesheets/bootstrap-theme.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    
   <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery.js"></script>
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
 	
 	
 	<style>
		.btn {
		  background: #3498db;
		  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
		  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
		  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
		  background-image: -o-linear-gradient(top, #3498db, #2980b9);
		  background-image: linear-gradient(to bottom, #3498db, #2980b9);
		  -webkit-border-radius: 28;
		  -moz-border-radius: 28;
		  border-radius: 28px;
		  font-family: Arial;
		  color: #ffffff;
		  font-size: 14px;
		  padding: 5px 10px 5px 10px;
		  text-decoration: none;
		}
		
		.btn:hover {
		  background: #3cfcc6;
		  background-image: -webkit-linear-gradient(top, #3cfcc6, #71b7e6);
		  background-image: -moz-linear-gradient(top, #3cfcc6, #71b7e6);
		  background-image: -ms-linear-gradient(top, #3cfcc6, #71b7e6);
		  background-image: -o-linear-gradient(top, #3cfcc6, #71b7e6);
		  background-image: linear-gradient(to bottom, #3cfcc6, #71b7e6);
		  text-decoration: none;
		}
	</style>
 	
  </head>
 <body>
 
<div  ng-app="" ng-controller="WaterfallController">

<!--Header-->
 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header" style="color: #FFFFFF">
      WaterFall Risks
    </div>
    <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
          <li><a href="KanbanprojectStatus">Project Status</a></li>
          <li><a href="index">Logout</a></li>
          </ul>
        </div>
  </div>
</nav>



<ul class="nav nav-tabs">
  <li role="presentation" ><a href="" ng-click="addProject()" >Project</a></li>
  <li role="presentation" ng-click="addTask()"><a href="#">Task</a></li>
  <li role="presentation" class="active" ng-click="addRisk()"><a href="#">Risk</a></li>
  <li role="presentation" ng-click="showGraph()"><a href="#">Graph</a></li>
</ul>

<form id="riskform">
<div class="col-md-6 col-xs-12">
<br>
Project Name: <input type="text" id="projectname" class="form-control" placeholder="Enter Project Name" >
<br>
Task Name: <input type="text" id="taskname" class="form-control" placeholder="Enter Task Name" >
<br>
Risk Description:<input type="text" id="riskdesc" class="form-control" placeholder="Enter Risk Description">
<br>
Risk Severity:<input type="text" id="riskseverity" class="form-control" placeholder="Enter Risk Severity">
<br>
<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="insertRisk()">ADD</button>
</div>
</form>

</div> <!--Final Div-->
 
 </body>
 
 <script>
 	function WaterfallController($scope,$http,$location) {
 	
 	$scope.insertRisk = function(){
 		
 		var name = document.getElementById("projectname").value;
 		var task = document.getElementById("taskname").value;
 		var risk = document.getElementById("riskdesc").value;
 		var severity = document.getElementById("riskseverity").value;
 		
 		$http({
				  	url: '/saverisk', 
				  	method: "POST",
				  	data: {"ProjectName":name, "TaskName":task, "Risk":risk, "Severity":severity}
				 	}).success(function(response){
				 			   document.getElementById("riskform").reset();
					           alert("Risk Added!!");
					        }).error(function(error){
					            alert("error!! This Project or Task is not Present");
					        });
 		};
 	
 		$scope.addProject = function() {
				$http({
				  	url: '/waterfall', 
				  	method: "GET",
				 	}).success(function(response){
					           
					            //alert(JSON.stringify(response));
					            window.location = '/waterfall';
					          
					        }).error(function(error){
					            alert("error");
					        });
					};
		
		$scope.addTask = function() {
				$http({
				  	url: '/task', 
				  	method: "GET",
				 	}).success(function(response){
					           
					            //alert(JSON.stringify(response));
					            window.location = '/task';
					          
					        }).error(function(error){
					            alert("error");
					        });
					};
					
		$scope.addRisk = function() {
				$http({
				  	url: '/risk', 
				  	method: "GET",
				 	}).success(function(response){
					           
					            //alert(JSON.stringify(response));
					            window.location = '/risk';
					          
					        }).error(function(error){
					            alert("error");
					        });
					};
		
		$scope.showGraph = function() {
				$http({
				  	url: '/percentgraph', 
				  	method: "GET",
				 	}).success(function(response){
					           
					            //alert(JSON.stringify(response));
					            window.location = '/percentgraph';
					          
					        }).error(function(error){
					            alert("error");
					        });
					};

 	}
 </script>
 
</html>